body{
    font-family:sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,94,130,0.8939950980392157) 54%, rgba(0,212,255,1) 100%);
    padding: 20px;
}

.naglowek{
    width: 100%;
    color: whitesmoke;
    text-align: center;
    background-color: lightslategray;
    border: 1px solid blue;
    border-radius: 20px;
    margin-bottom: 20px;


}

h1{
    line-height: normal;
}

.row{
    width:90%; 
    margin-left:5%; 
    margin-right:5%;
}

.short-block{
    height: 300px;
}


.block{
    border: 2px solid blue;
    border-radius: 20px;
    width: 28%;
    text-align: center;
    font-size: 88%;
    line-height: 2;
    background-color: lightslategray;
    color: whitesmoke;
    float: left;
    margin: 1%;
    padding: 10px;
}

.long-block{
    height: 500px;

}

.butt{
    margin: 10px;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: lightslategray;
    color: whitesmoke;
    width: 50%;
    height: 30px;
}



.inputt{
    width: 40%;
    border: 1px solid blue;
    border-radius: 20px;
    text-align: center;
}

.butt:hover{
    background-color: gray;
}

table{
    border: 1px blue solid;
    border-spacing: 0px;
    width: 50%;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}
td,th{
    padding: 5px;
    border: 1px blue solid;
}